.booking-page {
  display: flex;
  user-select: none;
  background-color: var(--off-white);
}

.booking-container {
  flex: 2;
  padding: 1rem;
  margin-left: 1rem !important;
  margin-top: 1rem !important;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 183, 255, 0.737);
  background-color: var(--white);
  flex-direction: column;
  border-radius: 12px;
  text-align: center;
}

.booking-container h1 {
  color: var(--primary-dark);
}

.calendar {
  width: 100%;
  max-width: 800px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: var(--white);
  padding: 1rem;
  margin: auto;
  gap: 1rem;
}

.calendar button {
  background: var(--light-gray);
  border: none;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  color: var(--text-primary);
  border-radius: 8px;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    rgb(255, 255, 255),
    transparent 8%
  );
  box-shadow: 0 2px 10px rgba(0, 183, 255, 0.737);
  animation: fadeIn var(--delay) ease-in-out, slideInUp var(--delay) ease-in-out;
}

.calendar button:hover {
  color: var(--text-secondary);
}

.date-selector,
.time-selector {
  padding: 2rem;
}

.date-selector h3,
.time-selector h3 {
  margin-bottom: 1.5rem;
  color: var(--primary-blue);
  text-align: center;
}

.time-container {
  position: absolute;
  max-width: calc(100vw - 10vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  animation: fadeIn 0.4s ease;
}

.time-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.calendar button:disabled {
  cursor: not-allowed;
  display: none;
}

.my-bookings-list {
  flex: 1;
  background-color: var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
  margin-bottom: 0;
  box-shadow: 0 2px 10px rgba(0, 183, 255, 0.737);
  padding: 2rem 1rem;
  & p {
    text-align: center;
  }
}

.my-bookings-list h1 {
  color: var(--primary-dark);
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  height: 500px;
  overflow-y: auto;
}

.my-booking-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.95rem;
  animation: fadeIn var(--delay) ease-in-out, slideInUp var(--delay) ease-in-out;
}

.my-booking-item span {
  padding: 1rem;
}

li.no-bookings {
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.my-booking-item:last-child {
  border-bottom: none;
}

.booking-actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.check-availability:disabled {
  cursor: not-allowed;
  background: #6a6a6a;
  color: #828282;
}

.check-availability:disabled:hover {
  scale: 1;
}

.popup {
  position: fixed;
  top: 50px;
  right: 100px;
  z-index: 1000;
  animation: fade 2.8s linear forwards;
  background: #fff;
}

.popup button {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0;
  border: none;
  background: #fff;
  padding: 1rem;
}

.popup button.confirm {
  color: var(--success-green);
}

.popup button.delete {
  color: var(--error-red);
}

.popup-indicator {
  width: 300px;
  height: 5px;
  scale: 1;
  position: fixed;
  transform-origin: left;
  animation: indicator 2.5s linear forwards;
}

.popup-indicator.success {
  background: var(--success-green);
}

.popup-indicator.error {
  background: var(--error-red);
}

.popup.reminder {
  animation: none;
  width: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  right: 20px;
  background: yellow;
  color: orangered;
  animation: fadeIn 0.5s ease-in-out, slideInUp 0.5s ease-in-out;
  & button {
    width: 10px;
    padding: 0;
    background: transparent;
    font-size: 1.5rem;
    margin-left: 1rem;
    &:hover {
      color: var(--error-red);
    }
  }
}

@media (max-width: 768px) {
  .booking-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .booking-page h1 {
    font-size: 1.5em;
  }

  .booking-page p {
    font-size: 0.9em;
  }

  .booking-container {
    flex: 1;
    margin: 0 !important;
    max-width: 100%;
  }

  .calendar {
    height: auto;
    padding: 0.5rem;
    gap: 0.2rem;
  }

  .calendar button {
    padding: 1rem 0;
    font-size: 0.9rem;
  }

  .my-bookings-list {
    max-width: 100%;
    flex: 1;
    margin: 0;
    margin-top: 1rem;
  }

  ul {
    height: 200px;
  }

  .my-booking-item {
    font-size: 0.9rem;
  }

  .my-booking-item span {
    padding: 0.5rem;
  }

  .my-booking-item button {
    font-size: 0.8rem;
  }
}

@keyframes indicator {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
